$header-height: 80px;

header {
    position: fixed;
    width: 100%;
    padding: 0px 30px;
    z-index: 9999;
    background-color: var(--header);
    margin: 0 !important;
    height: $header-height;
    border-bottom: 2px solid var(--secondary);

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: url('/img/background.png') repeat fixed;
        background-size: 320px auto;
        opacity: 0.05;
        filter: var(--grid-filter);
        pointer-events: none;
        z-index: -1;
    }
}

.book-menu,
.book-menu-content,
.book-toc-content,
.book-page {
    margin-top: $header-height + 40px;
}

.book-header {
    display: flex;
    padding: 45px 30px 45px 15px;
}

#page-title a {
    color: var(--dark);
}

@media screen and (max-width: $mobile-breakpoint) {
    .book-header {
        justify-content: space-between;
    }

    #page-title {
        text-align: center;
        width: 100%;
        padding: 0;
    }

    .menu-search {
        display: block;

        #search-icon {
            width: 100%;
            justify-content: space-between;
        }
    }

    header #search-icon {
        display: none !important;
    }
}

@media screen and (min-width: $mobile-breakpoint) {
    .book-icon {
        display: none;
    }

    .menu-search {
        display: none !important;
    }

    header #search-icon {
        display: block;
        margin-right: 20px;
    }
}

.book-toc-content::-webkit-scrollbar,
.book-menu-content::-webkit-scrollbar {
    width: 10px;
    height: 16px;
}

pre::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

.book-toc-content::-webkit-scrollbar-thumb,
.book-menu-content::-webkit-scrollbar-thumb {
    background: var(--scrollbar);
    border-radius: 8px;
    // box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25),inset -2px -2px 2px rgba(0,0,0,.25);
}

.book-toc-content::-webkit-scrollbar-track,
.book-menu-content::-webkit-scrollbar-track {
    // background: linear-gradient(90deg,#434343,#434343 1px,#111 0,#111);
    background-color: var(--scrollbar-track);
}

.markdown h1 {
    font-size: 2rem;
    font-weight: 400;
}

.markdown h2 {
    font-size: 1.6rem;
    font-weight: 400;
}

.markdown h3 {
    font-size: 1.3rem;
    font-weight: 400;
}

.title {
    color: var(--title);
    font-size: 3.5rem;
    padding-bottom: 1rem;

    &.home {
        font-family: var(--font-title);
        font-weight: normal;
        font-size: 5rem;
        color: var(--dark);
    }
}

.book-toc-content {
    font-weight: normal;
}

.book-menu-content a:hover,
.book-toc-content a:hover {
    opacity: 100%;
}

.book-menu-content,
.book-menu-content a,
.book-menu-content label,
.book-menu-content span {
    font-family: var(--font-header);
    font-weight: 400;
}

.book-menu-title {
    font-weight: normal;
    color: var(--title);
    opacity: 1;
}

.book-menu input.toggle+label::after {
    font-size: 150%;
}

.book-menu input.toggle+label:hover {
    color: var(--secondary);
}

.markdown-inner,
.book-tabs {
    font-family: var(--font-body);
    color: var(--dark);
}

.count {
    font-family: var(--font-body);
}

.like-button {
    margin-top: 5rem;
}